/*
// Base Style
*/

html, body {
	height:100%;
}

html {
	background: #f6f6f6;	
	font-family: 'Georgia'; 	

}

body, h1 {
	margin: 0;
	padding: 0;
}

ul {
	list-style:square;
}

li {
	line-height: 1.6em;
}

li.active {
	font-weight: bold;
}

.pagePrevious {
	float: left;
}

.pageNext {
	float: right;
}


/*
// Header
*/

header {
	text-align: center;
	background: #EB005A;
	padding: 12px;
	height: 30px;
}

h1, h2 {
	font-family: 'ProximaNova-Regular'; 
}

h1 strong, h2 strong{
	font-family: 'ProximaNova-Bold'; 
}

h1 a, h2 a {
	color: #fff;
	text-decoration: none;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

.title {
	margin: 0;
	padding: 0;   	
	text-transform: uppercase;
}

/*
// Middle
*/

#sidebar {

	position: absolute;
	top: 54px;
	left: 0;
	width: 248px;
	padding-right: 12px;
}

#main {
	position: absolute;
	top: 54px;
	left: 260px;
	right: 0;
	padding-bottom: 54px;

	background:#ffffff;
}

#content {
	width: 640px;
	margin: auto;
}


li {
	font-family: 'ProximaNova-Regular';
	font-size: .8em;
}

li a {
	text-decoration: none;
}

/*
// Nav
*/

nav {
	margin-top: 24px;
	font-family: 'ProximaNova-Regular';
	font-size: .8em;
}

/*
// Footnote
*/

#annotations {
	display: none;
}

#footnotes {
	min-height: 1.2em;
	margin: 12px 0;
	background: #fff;
	padding: 12px;
	border: 1px solid #cccccc;

	box-shadow:         inset 0 0 2px #ccc;	
	border-radius: 2px;

	/*
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	*/
}

/*
#footnotes.show {
	opacity: 1;
}
*/